html,
body {
    height: 100%;
}

.container-fluid,
.carousel,
.item,
.active {
    height: 100%;
    width: 100%;
}


.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



.index-btn {
    position: relative;
    bottom: 60%;
    text-align:center;
    
}

.center-btn{
    text-align: center;
}

.formCreateEvent{
    font-size: 12px;
    font-family:Arial;
}

.dimensionimg-carousel{
    
    min-height: 100%;
    min-width: 100%;
 
    

}

.right-btn{
    text-align: right;
}


.pushtoright{
    padding-left: 50px;
}

.spacing-form{
    padding-bottom: 10px;
    padding-top: 10px;
}


.profile-pic{
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    border: solid;
    border-color: blue;
}

.left-btn{
    text-align: left;
}


.carousel-container{
    width: 500px;
    height: 250px;
}


.marginCatalog{
    padding-top: 20px;
    padding-left: 20px;
}

.logo{
    height: 100px;
    width: 100px;
}

.navbar-bottom-btn{
    padding-top: 60px;
}

.button-navbar:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.shadow-button {
    background-color: #222;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-index {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight:bold;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-index1 {
    background-color: rgba(255,0,0,0.0); 
    color: rgba(0,0,0,0.7);; 
    border: 2px solid rgba(0,0,0,0.7);
}

.btn-index1:hover {
    background-color: #e7e7e7;
    color: black;
    font-weight:bold;
    border: 2px solid #e7e7e7;
}

.title-index{
    color: white;
    font-family: perpetua;
    font-size: 38px;
}

.logo-background{
    background-color: rgba(80,80,80,0.7);
    border-color: rgba(80,80,80,0.7);
    border-radius: 160px;
    border: 10px rgba(80,80,80,0.7); 
}